{{ template "header.tmpl" . }}

<h2>file upload</h2>

<form method="POST" action="/files" enctype="multipart/form-data">
    <input name="file" type="file" >
    <button type="submit">Upload</button>
</form>

{{ template "footer.tmpl" . }}
