<html>

  <body>
    <header>
      <h1>apuroda</h1>
      {{ if .user }}
        <h2>Welcome {{ .user.Name }}</h2>
      {{ else }}
        <a href="/new_user">Login</a>
      {{ end }}
    </header>