<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  </head>

  <body>
    <header>
      <h1><a href="/">apuroda</a></h1>
      <nav>
        {{ if .user }}
          Welcome {{ .user.Name }}
        {{ else }}
          <a href="/new_user">Login</a>
        {{ end }}
      </nav>
    </header>